<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libbytian.pan.system.mapper.SystemRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.libbytian.pan.system.model.SystemRoleModel">
        <id column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="role_status" property="roleStatus" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id AS roleId,
         role_name AS roleName,
         role_status AS roleStatus
    </sql>




</mapper>
