<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libbytian.pan.system.mapper.SystemKeywordMapper">


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         keyword_id AS keywordId,
         secret_key AS secretKey,
         user_safe_key AS userSafeKey,
         user_token AS userToken,
         start_time AS startTime,
         end_time AS endTime
    </sql>


    <select id="getKeywordByUser" parameterType="String"
            resultType="com.libbytian.pan.system.model.SystemKeywordModel">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_keyword
        LEFT JOIN user_keyword ON sys_keyword.keyword_id = user_keyword.keyword_id
        LEFT JOIN sys_user ON user_keyword.user_id = sys_user.user_id
        WHERE
        sys_user.user_id = #{userId}

    </select>

    <update id="updateKeyword" parameterType="com.libbytian.pan.system.model.SystemKeywordModel">
        UPDATE
        sys_keyword
        SET
        <if test="keywordId != null and keywordId != ''">
            keyword_id =#{keywordId}
        </if>
        <if test="secretKey != null and secretKey != ''">
            secret_key =#{secretKey}
        </if>
        <if test="startTime != null and startTime != ''">
            start_time =#{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            end_time =#{endTime}
        </if>


    </update>


    <insert id="insertKeyword" parameterType="com.libbytian.pan.system.model.SystemKeywordModel">
        INSERT INTO sys_keyword
        <trim prefix="(" suffix=")" suffixOverrides=",">
             <if test="keywordId != null">
                 keyword_id,
             </if>
             <if test="secretKey != null">
                 secret_key,
             </if>
             <if test="userSafeKey != null">
                 user_safe_key,
             </if>
             <if test="userToken != null">
                 user_token,
             </if>
             <if test="startTime != null">
                 start_time,
             </if>

             <if test="endTime != null">
                 end_time,
             </if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="keywordId != null">
                #{keywordId,jdbcType=VARCHAR},
            </if>

            <if test="secretKey != null">
                #{secretKey,jdbcType=VARCHAR },
            </if>

            <if test="userSafeKey != null">
                #{userSafeKey,jdbcType=VARCHAR},
            </if>

            <if test="userToken != null">
                #{userToken,jdbcType=VARCHAR},
            </if>

            <if test="startTime != null">
                #{startTime,jdbcType=VARCHAR},
            </if>

            <if test="endTime != null">
                #{endTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>