<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libbytian.pan.system.mapper.SystemTemToTemDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.libbytian.pan.system.model.SystemTemToTemdetail">
        <id column="tem_temdetails_id" property="temtemdetailsid" />
        <result column="template_id" property="templateid" />
        <result column="templatedetails_id" property="templatedetailsid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         t.tem_temdetails_id AS temtemdetailsid,
         t.template_id AS templateid,
         t.templatedetails_id AS templatedetailsid
    </sql>




    <insert id="insertTmeplateToTemplateDetails">
        INSERT INTO tem_temdetails
        (tem_temdetails_id, template_id, templatedetails_id)
        VALUES
        <foreach collection ="list" item="systemTemToTemdetails" separator =",">
            (#{systemTemToTemdetails.temtemdetailsid}, #{systemTemToTemdetails.templateid}, #{systemTemToTemdetails.templatedetailsid})
        </foreach >
    </insert>



    <!-- 批量删除 -->
    <delete id="deleteTemplateAndDetails">
        DELETE FROM tem_temdetails WHERE templatedetails_id IN
        <foreach collection="list" item="templateDetailsList" separator="," open="(" close=")">
            #{templateDetailsList,jdbcType=VARCHAR}
        </foreach>
    </delete>


</mapper>
