<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libbytian.pan.system.mapper.SystemPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.libbytian.pan.system.model.SystemPermissionModel">
        <id column="permission_id" property="permissionId" />
        <result column="permission_url" property="permissionUrl" />
        <result column="permission_comment" property="permissionComment" />
        <result column="permission_status" property="permissionstatus" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         p.permission_id AS permissionId,
         p.permission_url AS permissionUrl,
         p.permission_comment AS permissionComment,
         p.permission_status AS permissionstatus,
         p.createtime AS createtime
    </sql>

    <select id="listPermissionByUser" parameterType="com.libbytian.pan.system.model.SystemTemplateModel" resultType="com.libbytian.pan.system.model.SystemPermissionModel">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_permission p
        LEFT JOIN role_permission r ON  p.permission_id = r.permission_id
        LEFT JOIN sys_user_role ur ON r.role_id = ur.role_id
        LEFT JOIN sys_user u ON ur.user_id = u.user_id
        <trim prefix="where" prefixOverrides="and|">
            <if test="userId != null and userId != ''">
                AND u.user_id= #{userId}
            </if>
            <if test="username != null and username != ''">
                AND u.user_name =#{username}
            </if>
            <if test="mobile != null and mobile != ''">
                AND u.user_mobile =#{mobile}
            </if>
            <if test="lastLoginTime != null and lastLoginTime != ''">
                AND u.user_last_login_time =#{lastLoginTime}
            </if>
            <if test="createTime != null and createTime != ''">
                AND u.createTime =#{createTime}
            </if>
            <if test="status != null and status != ''">
                AND u.status =#{status}
            </if>
            <if test="actTime != null and actTime != ''">
                AND u.act_time =#{actTime}
            </if>
            <if test="actrange != null and actrange != ''">
                AND u.act_range =#{actrange}
            </if>
        </trim>

    </select>

    <insert id="insertPermission" parameterType="com.libbytian.pan.system.model.SystemPermissionModel" >
         INSERT INTO sys_permission
         (permission_id,permission_url,permission_comment,permission_status,createtime)
         VALUES
         (#{permissionId} ,#{permissionUrl},#{permissionComment},0,#{createtime})

    </insert>


    <update id="updateFindfishPermission" parameterType="com.libbytian.pan.system.model.SystemPermissionModel">
        UPDATE
        sys_permission
        <trim prefix="set" suffixOverrides=",">
            <if test="permissionUrl != null and permissionUrl != ''">
                permission_url =#{permissionUrl},
            </if>
            <if test="permissionComment != null and permissionComment != ''">
                permission_comment =#{permissionComment},
            </if>
            <if test="permissionstatus != null and permissionstatus != ''">
                permission_status =#{permissionstatus},
            </if>

            <if test="createtime != null and createtime != ''">
                createtime =#{createtime},
            </if>

        </trim>
        WHERE
        permission_id =#{permissionId}
    </update>



    <delete id="deleteFindfishPermission" parameterType="com.libbytian.pan.system.model.SystemPermissionModel">
        DELETE
        FROM sys_permission
        <trim prefix="WHERE(" prefixOverrides="and|">
            <if test="permissionId != null and permissionId != ''">
                AND permission_id= #{permissionId}
            </if>
            <if test="permissionUrl != null and permissionUrl != ''">
                AND permission_url= #{permissionUrl}
            </if>
            <if test="permissionComment != null and permissionComment != ''">
                AND permission_comment= #{permissionComment}
            </if>
            <if test="permissionstatus != null and permissionstatus != ''">
                AND permission_status= #{permissionstatus}
            </if>)

        </trim>


    </delete>



    <select id="selectPermissionByPermissionId" parameterType="java.util.List"
            resultType="com.libbytian.pan.system.model.SystemPermissionModel">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_permission p
        <where>
            p.permission_id in
            <foreach item="permissionIds" collection="list" separator="," open="(" close=")" index="">
                #{permissionIds, jdbcType=VARCHAR}
            </foreach>
        </where>

    </select>


</mapper>
