<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libbytian.pan.system.mapper.SystemUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.libbytian.pan.system.model.SystemUserModel">
        <id column="userid" property="userId"/>
        <result column="user_name" property="username"/>
        <result column="user_mobile" property="mobile"/>
        <result column="user_password" property="password"/>
        <result column="user_lastlogin_time" property="lastLoginTime"/>
        <result column="createtime" property="createTime"/>
        <result column="act_time" property="actTime"/>
        <result column="user_flag" property="userFlag"/>
        <result column="call_time" property="callTime"/>
        <result column="status" property="status"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         user_id AS userId,
         user_name AS username,
         user_mobile AS mobile ,
         user_password AS password,
         user_lastlogin_time AS lastLoginTime,
         createtime AS createTime,
         status,
         act_time AS actTime,
         user_flag AS userFlag,
         allowremove AS allowremove,
         call_time AS callTime

    </sql>


    <select id="getUser" parameterType="com.libbytian.pan.system.model.SystemUserModel"
            resultType="com.libbytian.pan.system.model.SystemUserModel">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user u
        <trim prefix="where" prefixOverrides="and|">
            <if test="userId != null and userId != ''">
                AND u.user_id= #{userId}
            </if>
            <if test="username != null and username != ''">
                AND u.user_name =#{username}
            </if>
            <if test="mobile != null and mobile != ''">
                AND u.user_mobile =#{mobile}
            </if>

            <if test="createTime != null">
                AND u.createTime =#{createTime}
            </if>
            <if test="status != null and status != ''">
                AND u.status =#{status}
            </if>
            <if test="actTime != null ">
                AND u.act_time =#{actTime}
            </if>

            <if test="userFlag != null and userFlag != ''">
                AND u.user_flag =#{userFlag}
            </if>


            <if test="allowremove != null and allowremove != ''">
                AND u.allowremove =#{allowremove}
            </if>
        </trim>

    </select>

    <select id="listUsers" parameterType="com.libbytian.pan.system.model.SystemUserModel"
            resultType="com.libbytian.pan.system.model.SystemUserModel">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user u
        <trim prefix="where" prefixOverrides="and|">
            <if test="userId != null and userId != ''">
                AND u.user_id= #{userId}
            </if>
            <if test="username != null and username != ''">
                AND u.user_name =#{username}
            </if>
            <if test="mobile != null and mobile != ''">
                AND u.user_mobile =#{mobile}
            </if>
            <if test="lastLoginTime != null ">
                AND u.user_lastlogin_time =#{lastLoginTime}
            </if>
            <if test="createTime != null ">
                AND u.createTime =#{createTime}
            </if>
            <if test="status != null and status != ''">
                AND u.status =#{status}
            </if>
            <if test="actTime != null">
                AND u.act_time =#{actTime}
            </if>

            <if test="userFlag != null and userFlag != ''">
                AND u.user_flag =#{userFlag}
            </if>
        </trim>

    </select>

    <select id="getUserByUerToTemplate" parameterType="String"
            resultType="com.libbytian.pan.system.model.SystemUserModel">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user u
        LEFT JOIN user_template ut ON u.user_id = ut.user_id
        WHERE
        ut.template_id =#{templateId}

    </select>

    <delete id="removeUserAll" parameterType="com.libbytian.pan.system.model.SystemUserModel">
        DELETE u,ur,ut
        FROM sys_user u
        LEFT JOIN sys_user_role ur ON u.user_id = ur.user_id
        LEFT JOIN user_template ut ON u.user_id = ut.user_id
        <trim prefix="where" prefixOverrides="and|">
            <if test="userId != null and userId != ''">
                AND u.user_id= #{userId}
            </if>
            <if test="username != null and username != ''">
                AND u.user_name =#{username}
            </if>
            <if test="mobile != null and mobile != ''">
                AND u.user_mobile =#{mobile}
            </if>
            <if test="lastLoginTime != null">
                AND u.user_lastlogin_time =#{lastLoginTime}
            </if>
            <if test="createTime != null ">
                AND u.createTime =#{createTime}
            </if>
            <if test="status != null and status != ''">
                AND u.status =#{status}
            </if>
            <if test="actTime != null ">
                AND u.act_time =#{actTime}
            </if>

            <if test="userFlag != null and userFlag != ''">
                AND u.user_flag =#{userFlag}
            </if>
            AND u.allowremove ='true'
        </trim>


    </delete>





    <insert id="insertSystemUser" parameterType="com.libbytian.pan.system.model.SystemUserModel">
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="username != null">
                user_name,
            </if>
            <if test="mobile != null">
                user_mobile,
            </if>

            <if test="password != null">
                user_password,
            </if>

            <if test="lastLoginTime != null">
                user_lastlogin_time,
            </if>

            <if test="createTime != null">
                createTime,
            </if>

            <if test="status != null">
                status,
            </if>

            <if test="actTime != null">
                act_time,
            </if>


            <if test="userFlag != null">
                user_flag,
            </if>

            <if test="allowremove != null">
                allowremove,
            </if>

        </trim>


        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>

            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>

            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>

            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>

            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>

            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>

            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>

            <if test="actTime != null">
                #{actTime,jdbcType=TIMESTAMP},
            </if>


            <if test="userFlag != null">
                #{userFlag,jdbcType=TINYINT},
            </if>

            <if test="allowremove != null">
                #{allowremove,jdbcType=TINYINT},
            </if>

        </trim>


    </insert>



    <!-- 根据用户ID 删除 -->
    <delete id="deleteSysUserByUser" parameterType="com.libbytian.pan.system.model.SystemUserModel">
        DELETE
        FROM
            sys_user
        WHERE
            user_id = #{userId}
    </delete>


    <select id="getUserById" parameterType="com.libbytian.pan.system.model.SystemUserModel"
            resultType="com.libbytian.pan.system.model.SystemUserModel">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user u
        WHERE  u.user_id = #{userId}

    </select>


    <update id="updateSysUserById" parameterType="com.libbytian.pan.system.model.SystemUserModel">
        UPDATE
        sys_user
        <trim prefix="set" suffixOverrides=",">

            <if test="username != null and username != ''">
                user_name =#{username},
            </if>
            <if test="mobile != null and mobile != ''">
                user_mobile =#{mobile},
            </if>

            <if test="user_password != null and user_password != ''">
                password =#{user_password},
            </if>

            <if test="lastLoginTime != null and lastLoginTime != ''">
                user_last_login_time =#{lastLoginTime},
            </if>

            <if test="createTime != null and createTime != '' ">
                createtime =#{createTime},
            </if>


            <if test="status != null and status != '' ">
                status =#{status},
            </if>



        </trim>
        WHERE
        user_id =#{userId}

    </update>



    <update id="updateUserById" parameterType="com.libbytian.pan.system.model.SystemUserModel">
        UPDATE
        sys_user
        <trim prefix="set" suffixOverrides=",">

            <if test="mobile != null and mobile != ''">
                user_mobile =#{mobile},
            </if>

            <if test="password != null and password != ''">
                user_password =#{password},
            </if>

            <if test="lastLoginTime != null ">
                user_lastlogin_time =#{lastLoginTime},
            </if>

            <if test="createTime != null  ">
                createtime =#{createTime},
            </if>

            <if test="callTime != null ">
                call_time =#{callTime},
            </if>

            <if test="status != null  ">
                status =#{status},
            </if>

            <if test="actTime != null ">
                act_time =#{actTime},
            </if>

            <if test="userFlag != null  and  userFlag != ''">
                user_flag =#{userFlag},
            </if>

            <if test="allowremove != null  and allowremove != ''">
                allowremove =#{allowremove},
            </if>
        </trim>
        WHERE
        user_name =#{username}
    </update>


</mapper>
